<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.monitorplatform.forward.mapper.TaskChainNodeMapper">

    <update id="updateDeviceIpByDeviceId">
        UPDATE task_chain_node
        SET device_ip = #{newIp},
            update_time = NOW()
        WHERE device_id = #{deviceId}
    </update>

</mapper>
